/* stylelint-disable */
body {
  font-family: sans-serif;
  font-size: 2.5rem; }

.calculator {
  max-width: 27.5rem;
  margin: 0 auto; }

.display {
  padding: 0 0 1rem; }
  .display output {
    display: block; }
  .display__input {
    padding: 0 1rem; }
  .display__result {
    padding: 1rem; }

.container {
  display: grid;
  gap: 1.25rem 1rem;
  grid-gap: 1.25rem 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "answer answer clear undo" "left-bracket right-bracket exponent sign" "seven eight nine divide" "four five six multiply" "one two three add" "zero decimal equals subtract"; }
  .container button[name="answer"] {
    grid-area: answer; }
  .container button[name="answer"] {
    grid-area: answer; }
  .container button[name="clear"] {
    grid-area: clear; }
  .container button[name="undo"] {
    grid-area: undo; }
  .container button[name="left-bracket"] {
    grid-area: left-bracket; }
  .container button[name="right-bracket"] {
    grid-area: right-bracket; }
  .container button[name="exponent"] {
    grid-area: exponent; }
  .container button[name="sign"] {
    grid-area: sign; }
  .container button[name="seven"] {
    grid-area: seven; }
  .container button[name="eight"] {
    grid-area: eight; }
  .container button[name="nine"] {
    grid-area: nine; }
  .container button[name="divide"] {
    grid-area: divide; }
  .container button[name="four"] {
    grid-area: four; }
  .container button[name="five"] {
    grid-area: five; }
  .container button[name="six"] {
    grid-area: six; }
  .container button[name="multiply"] {
    grid-area: multiply; }
  .container button[name="one"] {
    grid-area: one; }
  .container button[name="two"] {
    grid-area: two; }
  .container button[name="three"] {
    grid-area: three; }
  .container button[name="add"] {
    grid-area: add; }
  .container button[name="zero"] {
    grid-area: zero; }
  .container button[name="decimal"] {
    grid-area: decimal; }
  .container button[name="equals"] {
    grid-area: equals; }
  .container button[name="subtract"] {
    grid-area: subtract; }

.calculator {
  font-family: 'Varela Round', sans-serif; }

.display output {
  text-align: right; }

.display__input {
  font-size: 2rem; }

.display__result {
  font-size: 3.5rem; }

button {
  border-radius: 50%;
  box-shadow: 0.3rem 0.75rem 0.2rem rgba(0, 0, 0, 0.2);
  display: inline-block; }

.button__answer {
  padding: 1.5rem 0;
  border-radius: 3rem; }

.button__reset {
  padding: 1.5rem 0; }

.button__undo {
  padding: 1.5rem 0; }

.button__bracket {
  padding: 1.3rem 0; }

.button__sign {
  padding: 1.3rem 0; }

.button__number {
  padding: 1.5rem 0; }

.button__decimal {
  padding: 1.5rem 0; }

.button__equal {
  padding: 1.5rem 0; }

.button__operator {
  padding: 1.5rem 0; }
  .button__operator[name="exponent"] {
    padding: 1.3rem 0; }
