
// stylelint-disable at-rule-no-unknown

// COLOR VARIABLES
$color-black: #000;
$color-white: #FFF;
$color-grey-med: #CFD7DE;
$color-primary-dark: #0B132B;
$color-primary-med: #1C2541;
$color-primary-light: #3A506B;
$color-secondary-dark: #5BC0BE;
$color-secondary-bright: #6FFFE9;

// GRID VARIABLES
$area-row1-list: answer answer clear undo;
$area-row2-list: left-bracket right-bracket sign exponent;
$area-row3-list: seven eight nine divide;
$area-row4-list: four five six multiply;
$area-row5-list: one two three add;
$area-row6-list: zero decimal equals subtract;
$calc-gutter-row: 1.25rem;
$calc-gutter-col: 1rem;

// CALCULATOR VARIABLES
$calc-font-size: 2.75rem;
$display-padding: 1rem;
$btn-padding-vert: 1.5rem;

// GENERAL VARIABLES
$default-font-size: 1.6rem;

// MIXINS
@mixin set-grid-areas($all-rows...) {
    @each $row in $all-rows {
        @each $area in $row {
            .calc-button[name="#{$area}"] {
                grid-area: $area;
            }
        }
    }
}

@mixin btn-theme($dark-theme: true) {
    @if $dark-theme {
        background-color: $color-primary-med;
        color: $color-white;

        &:hover {
            background-color: $color-white;
            color: $color-primary-med;
        }

    } @else {
        background-color: $color-secondary-dark;
        color: $color-primary-med;
        // Brighten bg-color on hover state. hi
        &:hover { background-color: lighten($color-secondary-bright, 5); }
    }
}

@mixin btn-shadow($offset-y: .75rem) {
    box-shadow: .3rem $offset-y .1rem $color-primary-light;
}
