
// stylelint-disable at-rule-no-unknown

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    flex-basis: 32rem;
    overflow: hidden;
}

.display {
    padding: $display-padding + 1rem;

    output { display: block; }

    &__result { padding-top: $display-padding; }
}

.container {
    @include set-grid-areas(
        $area-row1-list,
        $area-row2-list,
        $area-row3-list,
        $area-row4-list,
        $area-row5-list,
        $area-row6-list
    );
    display: grid;
    gap: $calc-gutter-row $calc-gutter-col;
    grid-gap: $calc-gutter-row $calc-gutter-col;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "#{$area-row1-list}"
        "#{$area-row2-list}"
        "#{$area-row3-list}"
        "#{$area-row4-list}"
        "#{$area-row5-list}"
        "#{$area-row6-list}";
    padding: $calc-gutter-row + 1rem;
}
