// stylelint-disable at-rule-no-unknown

.calculator {
    max-width: 27.5rem;
    margin: 0 auto;
}

.display {
    padding: 0 0 1rem;

    output {
        display: block;
    }

    &__input {
        padding: 0 $display-padding;
    }

    &__result {
        padding: $display-padding;
    }
}

.container {
    @include set-grid-areas(
        $area-row1-list,
        $area-row2-list,
        $area-row3-list,
        $area-row4-list,
        $area-row5-list,
        $area-row6-list
    );

    display: grid;
    gap: $calc-gutter-row $calc-gutter-col;
    grid-gap: $calc-gutter-row $calc-gutter-col;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "#{$area-row1-list}"
        "#{$area-row2-list}"
        "#{$area-row3-list}"
        "#{$area-row4-list}"
        "#{$area-row5-list}"
        "#{$area-row6-list}";
}
