
// stylelint-disable at-rule-no-unknown

body {
    background-color: $color-primary-med;
    font-family: 'Varela Round', sans-serif;
    font-size: $default-font-size;
}

.calculator { font-size: $calc-font-size; }

.display {
    output { text-align: right; }
    &__input { font-size: $calc-font-size - .75rem; }
    &__result { font-size: $calc-font-size + .75rem; }
}
