// stylelint-disable at-rule-no-unknown

.calculator {
    font-family: 'Varela Round', sans-serif;
    font-size: 2.75rem;
}

.display {
    output {
        text-align: right;
    }

    &__input {
        font-size: $default-font-size - .5rem;
    }

    &__result {
        font-size: $default-font-size + 1rem;
    }
}
